<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Receta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">receta-tortilla</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="ion-padding">
      <h1 class="container"><ion-icon name="restaurant-outline"></ion-icon>Tortilla Española</h1>
      <app-tortilla-information></app-tortilla-information>
    </div>
  </ion-content>
</ion-content>
